* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  padding: 10px;
  background-image: url("images/Stray\ Care1.png");
  text-align: center;
}

@media only screen and (max-width:800px) {

  /* For tablets: */
  .main {
    width: 80%;
    padding: 0;
  }

  .right {
    width: 100%;
  }
}

@media only screen and (max-width:500px) {

  /* For mobile phones: */
  .menu,
  .main,
  .right {
    width: 100%;
  }
}

.header {
  padding: 5px;
  text-align: center;
  /* background: white; */
  background: linear-gradient(60deg, rgb(217, 210, 210), white, rgb(217, 210, 210));
}

.header h1 {
  font-size: 50px;
}

.center {
  text-align: center;
}

.topnav {
  overflow: hidden;
  background-color: #333;
  height: 55px;
}

.topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 16px 17px;
  text-decoration: none;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
  /* color: red; */
  font-size: 20px;
}


body {
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: white;
  color: black;
  font-family: Tahoma;
  font-size: 16px;
}

h1,
p {
  margin: 1em auto;
  text-align: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 25px;
  min-height: 100vh;
  background: linear-gradient(90deg, white 60%, #333 40.1%);

}

.container form {
  padding: 20px;
  width: 700px;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, .1);
}
/* 
.container form .row {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.container form .row .col {
  flex: 1 1 250px;
}

.container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col .inputBox {
  margin: 15px 0;
}

.container form .row .col .inputBox span {
  margin-bottom: 10px;
  display: block;
}

.container form .row .col .inputBox input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 10px 15px;
  font-size: 15px;
  text-transform: none;
}

.container form .row .col .inputBox input:focus {
  border: 1px solid #000;
}

.container form .row .col .flex {
  display: flex;
  gap: 15px;
}

.container form .row .col .flex .inputBox {
  margin-top: 5px;
}

.container form .row .col .inputBox img {
  height: 34px;
  margin-top: 5px;
  filter: drop-shadow(0 0 1px #000);
}

.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #333;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
} */

.container form .submit-btn:hover {
  background: black;
}

form {
  width: 60vw;
  max-width: 500px;
  min-width: 300px;
  margin: 0 auto;
  padding-bottom: 0em;
  /* border: 10px solid #333; */
  display: flex;
  flex-direction: column;
  padding: 2vw 4vw;
  /* width: 90%; */
  /* max-width: 600px; */
  /* border-radius: 10px; */
}

form button {
  padding: 10px;
  background: #333;
  color: white;
  font-size: 18px;
  border: 0;
  outline: none;
  cursor: pointer;
  width: 150px;
  margin: 20px auto 0;
  border-radius: 30px;
}

/* form button a:hover {
  background-color: #333;
  color: aqua; 
}*/

input,
textarea {
  margin: 15px 0 0 0;
  width: 100%;
  min-height: 2em;
  background-color: white;
  border: 1px solid #333;
  color: black;
}

input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #333;
    border-color: white;
    min-width: 300px;
  } 

  form button:hover{
    /* color: blue; */
    background: #000;
    font-size: 15px;
}
  
.wrapper{
  text-align: center;
}